<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../static/js/jquery-1.11.2.js"></script>
        <script src="../static/js/base.js"></script>
    </head>
    <body>
        <a href="login">login</a><br/>
        <a href="signup">signup</a><br/>
        <a href="newpwd">newpwd</a><br/>
        <a href="all">all</a><br/>
        <form method="get">
            <label>username:<input type="text" name="username" value=""></label><br>
            <label>new_password:<input type="password" name="password" value=""></label><br>
            <label>password_repeat:<input type="password" name="password2" value=""></label><br>
            <button id='btn_newpwd' class="btn btn-lg btn-primary btn-block" type="button">update</button>
        </form>
    </body>
</html>